b/* дочірний селектор */
.menu > li {
  border: 1px solid tomato; /* рамка (кордон) */
}
/* Застосовується до посилань, які лежать усередині неупорядкованих списків */
ul a {
  color: tomato;
}
/* Застосовується лише до посилань, що лежать усередині тега з класом social-links */
.social-links a {
  color: tomato;
}
/* активується коли курсор миші на елементі */
a:hover {
  color: yellow;
}
/* активується при взаємодії */
a:active {
  color: red;
}
/* активується при фокусі (ТАБ) або при натисканні */
a:focus {
  color: blueviolet;
}
/* стиль до окремого ID */
#name_id {
  text-align: center;
}
