.orders {
  background-color: #fff; /* колір фону */
  color: rgb(0, 0, 0); /* колір */
  color: tomato !important; /* підвищує значимість*/
  color: inherit; /* успадкувати від батька колір */
  color: currentColor; /* колір такий як і навколо */
  font-family: 'Helvetica Neue', sans-serif; /* шрифт і сімейство шрифтів */
  font-size: 20px; /* розмір шрифту */
  font-weight: 400; /* жирність літер */
  font-style: italic; /* тип написання тексту (курсивом) */
  text-decoration: none; /* ефекти оформлення тексту: нижнє і верхнє підкреслення, а також закреслення */
  text-transform: uppercase; /* регістр символів у тексті, зробити всі літери великими або маленькими */
  text-align: left; /* керує вирівнюванням текстового вмісту по горизонталі */
  line-height: normal; /* встановлює міжрядковий інтервал (інтерліньяж, висоту рядка) тексту */
  letter-spacing: normal; /* визначає інтервал між символами (літерами) */
  text-indent: 0%; /* становлює величину відступу першого рядка текстового блоку, наприклад абзацу */
  text-shadow: 2px 2px 4px black; /* контролює тінь тексту, а також задає її параметри: зміщення по x, y, радіус розмиття, колір */
  list-style-type: none; /* визначає тип маркера списку */
}
